@model IEnumerable<NawafizApp.Services.Dtos.FixOrderEqupDto>



@if (User.IsInRole("BlockSupervisor"))
{

    ViewBag.Title = "getequpment";


    Layout = "~/Views/Shared/_Layout-supervices.cshtml";

}

@if (User.IsInRole("MaintenanceEmp"))
{

    ViewBag.Title = "getequpment";


    Layout = "~/Views/Shared/_Layout-fixEmp.cshtml";

}

<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>تجهيزات الطلب التي بحاجة صيانة 
        </div>
    </div>
    <div class="portlet-body">

        <table class="table">
            <tr>
                <th>
                    القطعة
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
