
@{
    Layout = "~/Views/Shared/_Layout-hoster.cshtml";
}

<!DOCTYPE html>

<html>

<body>

    <div id="tableroom">


    </div>
    <div hidden="hidden">
        @Ajax.ActionLink("jjj", "getAllRoom", "Room", new AjaxOptions
  {
  UpdateTargetId = "tableroom",
  HttpMethod = "get",
  InsertionMode = InsertionMode.Replace
  }, new { id = "uu" })
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    <script type="text/javascript">


        setInterval(function () {
            document.getElementById('uu').click();
        }, 2000);

    </script>
</body>
</html>
