@model IEnumerable<NawafizApp.Services.Dtos.UserDto>

@{
    ViewBag.Title = "موظفين الكتلة";
    Layout = "~/Views/Shared/_Layout-hoster.cshtml";
}

<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>موظفين الكتلة
        </div>
    </div>
    <div class="portlet-body">

        <table class="table">
            <tr>
                <th>
                    اسم المستخدم
                </th>


                <th>
                   الاسم الكامل
                </th>

                <th>
                    الدور
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>


                    
                </tr>
            }

        </table>
    </div>
</div>
