
@{
    ViewBag.Title = "UserNotDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body style="">
    <h2>UserNotDelete</h2>
    <style>
        .dropbtn {
            background-color: #36c6d3;
            color: white;
            padding: 7px 5px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-decoration: none !important;
        }
    </style>
    <div style="margin-right:235px;background-color:white;text-align:center;">
        <h2>لا تستطيع حذف هذا المستخدم </h2><br />
        <h3>توجد إعلانات مرتبطة به</h3>
        <div>
            <br /><br />
            @Html.ActionLink("العودة الى المستخدمين", "Users", "Users", new { @class = "dropbtn" })
            @Html.ActionLink("تفاصيل المستخدم", "EditUser", "Users", new { @UserName = ViewBag.UserName, @UserId = ViewBag.UserId }, new { @class = "dropbtn", @style = "text-decoration: none;" })
        </div>
    </div>
</body>
</html>
